@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekanWeb";
  src: url("./assets/fonts/iranyekanwebregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekanWeb";
  src: url("./assets/fonts/iranyekanwebmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhHeavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}
.sidebarMenu {
  animation: fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.item__menu .content__menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.item__menu:hover .content__menu {
  opacity: 1;
  visibility: visible;
}
