@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekanWeb";
  src: url("./assets/fonts/iranyekanwebregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekanWeb";
  src: url("./assets/fonts/iranyekanwebmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhHeavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
